.container
  .row{:style => "align-items: center; min-height: 500px;"}
    .col{:style => "width: 40%;"}
      = image_tag "logo-stock.png", alt: "Stock Trading", style: "height: 150px;width:auto%; float:right;"
    %div{:calss => "col", :style => "width: 60%;"}
      %h1 Woah Woah Woah!
      %p
        Your account is still pending! We will notify you
        %br/
        once activated. Thank you for your patience.
