%table{:role => "presentation", :style => "width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;margin: 0 auto;"}
  %tbody
    %tr
      %td{:align => "center", :style => "padding:40px 0 30px 0;background:#212529;"}
        %img{:alt => "", :src => "https://i.ibb.co/9sxJndV/email-image.jpg", :style => "height:auto;display:block;", :width => "300"}/
    %tr
      %td{:style => "padding:36px 30px 42px 30px;"}
        %table{:role => "presentation", :style => "width:100%;border-collapse:collapse;border:0;border-spacing:0;"}
          %tbody
            %tr
              %td{:style => "padding:0 0 36px 0;color:#153643;"}
                %h1{:style => "font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;"}
                  Welcome #{@resource.first_name}!
                %p{:style => "margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"} We're excited to have you get started. First, you need to confirm your account. Just press the button below.
                %p{:style => "margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;"}= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @token), class: 'color: #ee4c50; text-decoration:underline;'
    %tr
      %td{:style => "padding:30px;background:#212529;"}
        %table{:role => "presentation", :style => "width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Arial,sans-serif;"}
          %tbody
            %tr
              %td{:align => "left", :style => "padding:0;width:50%;"}
                %p{:style => "margin:0;font-size:14px;line-height:16px;font-family:Arial,sans-serif;color:#ffffff;"}
                  ® Someone, Somewhere 2021
                  %br/
                  %a{:href => "http://www.example.com", :style => "color:#ffffff;text-decoration:underline;"} Unsubscribe
              %td{:align => "right", :style => "padding:0;width:50%;"}
                %table{:role => "presentation", :style => "border-collapse:collapse;border:0;border-spacing:0;"}
                  %tbody
                    %tr
                      %td{:style => "padding:0 0 0 10px;width:38px;"}
                        %a{:href => "https://www.twitter.com/", :style => "color:#ffffff;"}
                          %img{:alt => "Twitter", :src => "https://assets.codepen.io/210284/tw_1.png", :style => "height:auto;display:block;border:0;", :width => "38"}/
                      %td{:style => "padding:0 0 0 10px;width:38px;"}
                        %a{:href => "https://www.facebook.com/", :style => "color:#ffffff;"}
                          %img{:alt => "Facebook", :src => "https://assets.codepen.io/210284/fb_1.png", :style => "height:auto;display:block;border:0;", :width => "38"}/
